<!-- Page Footer-->
    <footer class="section footer-2">
      <div class="container">
        <div class="row row-40">
          <div class="col-md-6 col-lg-3"><a class="footer-logo" href="/home"><img
                src="images/PicsArt_12-07-06.24.32.png" alt="" width="168" height="31"
                style="margin-left: -20px;" /></a>
            <p>We are one of the most popular organizers the best EDM & Rock tracks, shows, and
              performances worldwide. We were founded in 1999 to promote original Electronic, Jazz, and Rock music.</p>
          </div>
          <div class="col-md-6 col-lg-3">
            <h5 class="text-white title">Contact Information</h5>
            <ul class="contact-box">
              <li>
                <div class="unit unit-horizontal unit-spacing-xxs">
                  <div class="unit-left"><span class="icon mdi mdi-map-marker accent-icon"></span></div>
                  <div class="unit-body"><a href="#">2130 Fulton Street, <br class="veil reveal-lg-inline">San Diego, CA
                      94117-1080 USA</a></div>
                </div>
              </li>
              <li>
                <div class="unit unit-horizontal unit-spacing-xxs">
                  <div class="unit-left"><span class="icon mdi mdi-phone accent-icon"></span></div>
                  <div class="unit-body">
                    <ul class="list-phones">
                      <li><a href="tel:#">1-800-1234-567</a></li>
                      <li><a href="tel:#">1-800-1234-567</a></li>
                    </ul>
                  </div>
                </div>
              </li>
              <li>
                <div class="unit unit-horizontal unit-spacing-xxs">
                  <div class="unit-left"><span class="icon mdi mdi-email-outline accent-icon"></span></div>
                  <div class="unit-body"><a href="mailto:#">info@demolink.org</a></div>
                </div>
              </li>
            </ul>

          </div>
          <div class="col-md-6 col-lg-3">
            <h5 class="text-white title">Be with us.</h5>
            <div class="group-md group-middle social-items"><a class="icon icon-md novi-icon mdi mdi-facebook"
                href="#"></a><a class="icon icon-md novi-icon mdi mdi-twitter" href="#"></a><a
                class="icon icon-md novi-icon mdi mdi-instagram" href="#"></a><a
                class="icon icon-md novi-icon mdi mdi-facebook-messenger" href="#"></a><a
                class="icon icon-md novi-icon mdi mdi-linkedin" href="#"></a><a
                class="icon icon-md novi-icon mdi mdi-snapchat" href="#"></a></div>
          </div>
        </div>
        <!-- Rights-->
        <p class="rights"><span>&copy;&nbsp;</span><span class="copyright-year"></span> <span>Soundify</span>. All
          rights
          reserved<span>.</span>
        </p>
      </div>
    </footer>