<!-- RD Navbar-->
<div class="rd-navbar-wrap rd-navbar-absolute">
  <nav class="rd-navbar rd-navbar-creative" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed"
    data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static"
    data-lg-device-layout="rd-navbar-static" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static"
    data-lg-stick-up-offset="20px" data-xl-stick-up-offset="20px" data-xxl-stick-up-offset="20px"
    data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
    <div class="rd-navbar-main-outer">
      <div class="rd-navbar-main">
        <!-- RD Navbar Panel-->
        <div class="rd-navbar-panel">
          <!-- RD Navbar Toggle-->
          <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
          <!-- RD Navbar Brand-->
          <div class="rd-navbar-brand"><a class="brand" href="/home"><img class="brand-logo-dark"
                src="images/PicsArt_12-07-06.24.32.png" alt="" width="112" height="21" /><img class="brand-logo-light"
                src="images/PicsArt_12-07-06.24.32.png" alt="" width="150" height="10"
                style="margin-left: -20px;" /></a>
          </div>
        </div>
        <div class="rd-navbar-main-element">
          <div class="rd-navbar-nav-wrap">
            <!-- RD Navbar Nav-->
            <ul class="rd-navbar-nav">
              <li class="rd-nav-item"><a class="rd-nav-link" href="/home">Home</a>
              </li>
              <li class="rd-nav-item"><a class="rd-nav-link" href="/events">My Events</a>
              </li>
              <li class="rd-nav-item"><a class="rd-nav-link" href="/about">About</a>
              </li>
              {{!-- <li class="rd-nav-item"><a class="rd-nav-link" href="/login">Login/Signup</a>
              </li> --}}
              <li class="rd-nav-item"><span class="rd-nav-link">{{name.name}}</span>
              </li>

              <li class="rd-nav-item"><a class="rd-nav-link" href="/logout">Logout</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>