<div class="row">
        <div class="col p-5">
            <div class="card">
                <div class="card-header">
                    <strong>Basic Form</strong> Elements
                </div>
                <div class="card-body card-block">
                    <form action="" method="post" class="form-horizontal">
                        <!-- Event Name -->
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="eventName" class=" form-control-label">Event Name</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input type="text" id="eventName" name="eventName" placeholder="" class="form-control">
                                <small class="form-text text-muted">Enter event name</small>
                            </div>
                        </div>

                        <!-- Event Desc -->
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="eventDesc" class=" form-control-label">Event Description</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <textarea name="eventDesc" id="eventDesc" rows="9" placeholder="Description...." class="form-control"></textarea>
                            </div>
                        </div>

                        <!-- Artist name -->
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="artistName" class=" form-control-label">Artist Name</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input type="text" id="artistName" name="artistName" placeholder="" class="form-control">
                                <small class="form-text text-muted">Enter Artist name</small>
                            </div>
                        </div>

                        <!-- Date -->
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="date" class=" form-control-label">Date</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input type="text" id="date" name="date" placeholder="" class="form-control">
                                <small class="form-text text-muted">Enter date of event</small>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary btn-sm">
                        <i class="fa fa-dot-circle-o"></i> Submit
                    </button>
                </div>
            </div>
        </div>
    </div>