
<!--Variety music--><!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <title>Login/Registration</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <script src="/cdn-cgi/apps/head/3ts2ksMwXvKRuG480KNifJ2_JNM.js"></script><link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:100,300,300i,400,700,900">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/@mdi/font@6.5.95/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/style.css" id="main-styles-link">

  </head>
  <body>
    <div class="preloader">
      <div class="preloader-body">
        <div class="cssload-container">
          <div class="cssload-speeding-wheel"></div>
        </div>
        <p>Loading...</p>
      </div>
    </div>
    <div class="page">
      <section class="section one-screen-page bg-primary-dark">
        <div class="one-screen-page-inner">
          <header class="section page-header">
            <!-- RD Navbar-->
      <div class="rd-navbar-wrap rd-navbar-absolute">
        <nav class="rd-navbar rd-navbar-creative" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed"
          data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static"
          data-lg-device-layout="rd-navbar-static" data-xl-layout="rd-navbar-static"
          data-xl-device-layout="rd-navbar-static" data-lg-stick-up-offset="20px" data-xl-stick-up-offset="20px"
          data-xxl-stick-up-offset="20px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
          <div class="rd-navbar-main-outer">
            <div class="rd-navbar-main">
              <!-- RD Navbar Panel-->
              <div class="rd-navbar-panel">
                <!-- RD Navbar Toggle-->
                <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                <!-- RD Navbar Brand-->
                <div class="rd-navbar-brand"><a class="brand" href="/"><img class="brand-logo-dark"
                      src="images/PicsArt_12-07-06.24.32.png" alt="" width="112" height="21" /><img class="brand-logo-light"
                      src="images/PicsArt_12-07-06.24.32.png" alt="" width="150" height="10" style="margin-left: -20px;" /></a>
                </div>
              </div>
              <div class="rd-navbar-main-element">
                <div class="rd-navbar-nav-wrap">
                  <!-- RD Navbar Nav-->
                  
                </div>
              </div>
            </div>
          </div>
        </nav>
      </div>
          </header>
          <div class="page-content text-center">
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-4">
                  <!-- Tabs-->
                  <div class="tabs-custom tabs-horizontal tabs-line" id="tabs-1">
                    <!-- Nav tabs-->
                    <ul class="nav nav-tabs nav-tabs-inline">
                      <li class="nav-item" role="presentation"><a class="nav-link active" href="#tabs-1-1" data-toggle="tab">Login</a></li>
                    </ul>
                    <!-- Tab panes-->
                    <div class="tab-content">
                      <div class="tab-pane fade show active" id="tabs-1-1">
                        <h3 style="margin-bottom: 25px;">Login</h3>
                        <!-- RD Mailform-->
                        <form class="" action="/login" method="post">
                          <div class="form-wrap">
                            <input class="form-input" id="login-email" type="email" name="email" data-constraints="@Email @Required">
                            <label class="form-label" for="login-email">E-mail</label>
                          </div>
                          <div class="form-wrap">
                            <input class="form-input" id="login-password" type="password" name="password" data-constraints="@Required">
                            <label class="form-label" for="login-password">Password</label>
                          </div>
                          <button class="button button-lg button-round button-block button-primary" type="submit">Sign In</button>
                        </form>
                        
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="page-footer">
            <div class="container">
              <!-- Rights-->
              <p class="rights"><span>&copy;&nbsp;</span><span class="copyright-year"></span> <span>Soundify</span>. All rights reserved<span>.</span>
              </p>
            </div>
          </div>
        </div>
      </section>
    </div>

    <!-- Javascript-->
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
</body>
</html>